* {
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrap {
  max-width: 1024px;
  margin: 0 auto;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-color: #f6f6f6;
  padding: 10px 0;
}

.social a {
  margin-right: 0.5em;
  display: block;
  padding: 0.1em;
}

.social a:first-of-type {
  border-right: 1px solid #000;
  padding-right: 0.5em;
  color: #4460a0;
}

.social a:last-of-type {
  color: #00aaec;
}

.social a:hover {
  color: red;
}

.social img {
  margin-right: 0.2em;
  margin-bottom: -0.1em;
}

.head .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.head .logo-img a {
  width: 187px;
  height: 46px;
  padding: 0.2em;
  display: block;
  background: url(../../images/logo.png) no-repeat;
  text-indent: 107%;
  white-space: nowrap;
  overflow: hidden;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav > li {
  margin-right: 1.65em;
  text-align: center;
}

.nav > li a {
  color: #00cc99;
  display: block;
  border-bottom: 3px solid transparent;
  -webkit-transition: all .3s;
  transition: all .3s;
  padding-bottom: 0.3em;
}

.nav > li a:hover {
  color: #d117e2;
  border-bottom: 3px solid #00cc99;
}

.nav .open > a {
  color: #d117e2;
  border-bottom: 3px solid #00cc99;
}

.nav .dropdown {
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  margin-top: 5px;
  z-index: 2;
  display: none;
}

.nav .dropdown a {
  padding: 0.8em;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.menu .menu-btn {
  display: none;
}

.menu img {
  width: 40px;
}

@media (max-width: 768px) {
  .menu .menu-btn {
    display: block;
    width: 100%;
    text-align: right;
  }
  .nav {
    position: absolute;
    top: 50px;
    z-index: 3;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    padding: 2em 0;
    display: none;
  }
  .nav > li {
    margin: auto;
  }
  .nav > li > a {
    color: yellow;
    font-size: 200%;
  }
  .nav .dropdown {
    position: static;
    background: none;
    font-size: 150%;
  }
  .nav.rwd {
    display: block;
  }
}

.banner {
  position: relative;
  cursor: pointer;
}

.banner .swiper-container {
  width: 100%;
  height: 300px;
}

.banner .swiper-container img {
  width: 100%;
}

.banner .bannertext {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  height: 100px;
  margin: auto;
  font-size: 150%;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
}

.banner .bannertext:hover {
  background: rgba(0, 0, 0, 0.3);
  -webkit-transition: all .5s;
  transition: all .5s;
  color: red;
}

.banner .bannertext p {
  padding: 0.5em 0 0.5em 1.5em;
  font-weight: bold;
  color: white;
}

.main {
  margin-top: 2em;
}

.course {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  line-height: 1.5em;
  text-align: justify;
}

.course .course-item {
  width: 30%;
  -webkit-box-shadow: 0 0.3em 0.5em 0.1em #879187;
          box-shadow: 0 0.3em 0.5em 0.1em #879187;
  padding: 0.5em;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.course .course-item:hover {
  outline: 5px solid  yellow;
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
  background: -webkit-gradient(linear, left top, left bottom, from(#df610e), to(#f54c0a));
  background: linear-gradient(180deg, #df610e, #f54c0a);
}

.course .course-title {
  text-align: center;
}

.course h3, .course p {
  margin-top: 1em;
}

.course h3 {
  font-weight: bold;
}

.course p {
  padding: 0.5em;
}

.course .course-item:nth-child(2) img {
  margin-top: 51px;
}

.course .course-item:nth-child(3) img {
  margin-top: 21px;
}

.course .course-item:nth-child(3) p {
  text-align: center;
}

.course .course-item:nth-child(3) li {
  padding: 0.1em;
  margin-left: 0.1em;
  list-style: disc inside;
}

@media (max-width: 768px) {
  .course {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .course .course-item {
    width: 45%;
    margin-bottom: 15px;
    font-size: 120%;
  }
}

@media (max-width: 414px) {
  .banner .bannertext {
    top: 130px;
  }
  .course .course-item {
    width: 90%;
  }
}

.compare {
  margin: 40px 0;
}

.compare table {
  width: 80%;
  margin: 0 auto;
}

.compare caption {
  font-size: 160%;
  margin-bottom: 20px;
  margin-bottom-font-weight: bold;
}

.compare .green {
  color: #42b392;
}

.compare th {
  text-align: left;
  background: #f7f7f7;
}

.compare th, .compare td {
  border-bottom: 1px solid #dddddd;
  padding: 0.8em;
}

.join {
  background: -webkit-gradient(linear, left top, left bottom, from(#00644b), to(#009871));
  background: linear-gradient(180deg, #00644b, #009871);
  color: white;
  padding-bottom: 3em;
}

.join p {
  text-align: center;
  font-size: 120%;
  padding-top: 1em;
  line-height: 2em;
  font-weight: bold;
}

.join .data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1em;
}

.join .data .message, .join .data .content {
  width: 50%;
}

.join .data #text {
  width: 90%;
  height: 200px;
  border-radius: 1em;
  resize: none;
}

.join .data .content {
  line-height: 1.3em;
  position: relative;
}

.join .data .content input[type='text'] {
  width: 90%;
  font-size: 110%;
  border-radius: 0.5em;
}

.join .data .content input[type='submit'] {
  position: absolute;
  right: 3.5em;
  padding: 0.6em 1em;
  margin-top: 0.3em;
  border-radius: 0.5em;
  background: #00cc99;
}

.join .data .content input[type='submit'], .join .data .content input[type='text'] {
  outline: none;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.join .data .content input[type='submit']:hover, .join .data .content input[type='text']:hover {
  background: #e9a09e;
}

@media (max-width: 768px) {
  .compare {
    overflow-x: auto;
  }
  .compare table {
    min-width: 819px;
  }
}

@media (max-width: 414px) {
  .join .data {
    font-size: 130%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .join .data .message, .join .data .content, .join .data .content input[type='text'], .join .data .message #text {
    width: 100%;
  }
  .join .data .content input[type='submit'] {
    right: 0;
    font-size: 80%;
  }
}

.btn {
  position: fixed;
  right: 0;
  bottom: 1px;
  z-index: 1;
  max-width: 80px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1em 0.5em;
  line-height: 1.1em;
}

.footer span {
  color: red;
}

@media (max-width: 414px) {
  .footer {
    background: #d6caca;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer img {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */